.col {
    display: inline-block;
    border: solid 1px black;
    float: left;
    padding: 1em;
    min-width: 1em;
    min-height: 1em;
    margin: 1em
}

.red {
    color: red;
}

.playBoard, .winBoard, .hand {
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
    margin: 1em;
}

.stat {
    margin-right: 10px;
}

.slider-value {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.playBoard::before {
    content: 'Game Board';
}

.winBoard::before {
    content: 'Win Board';
}

.hand::before {
    content: 'Hand';
}

.won::before {
    content: 'Wins:';
}

.lost::before {
    content: 'Losses:';
}

.win-perc::before {
    content: 'Win Percentage:';
}

body {
    font-family: monospace;
}